<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<a th:href="@{/new-product}">Add</a>
<h1>Home view</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Discount Price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.brand}"></td>
            <td th:text="${p.discountPrice}"></td>
            <td th:text="${p.price}"></td>
        </tr>
        </tbody>
    </table>

</body>